/** The Island of Misfit Styles
 * The longer this file grows, the longer it will take to change styles.
 * Be kind and attempt to move these to components and themes.
 */

@import 'variables';

html {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
	margin-bottom: 0.8em;
}

.btn-block {
    font-size: 16px;
    margin: 0.5em auto;
    padding: 0.9em 0 0.8em;
}

input.parent-code {
	margin: 1.2em auto;
	line-height: 1.8em;
}

.title {
	margin-top: 0.5em;
  margin-bottom: 0.75em;
}

.loader {
	position: relative;
	display: block;
	width:50px;
	height:50px;
	margin: auto;
}

.files-container {
  padding: 0;
}
.files-container .form-group {
  margin-bottom: 0;
}

.btn-menu {
	margin-top: 25px;
	padding: 12px 32px 10px;
}
.btn-action {
	margin-top: 8px;
  padding: 12px 36px 10px;
}
.btn-link:focus, .btn-link:active {
	outline:0 !important;
}

// TODO Connect these variables to the main style sheet

$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-success: #91D127;

.hidden {
  display: none !important;
}
.has-error {
  color: $brand-danger;
}
.has-success {
  border-color: $brand-success;
}

.alert-warning {
  color: darken($brand-warning, 40%);
  background-color: $brand-warning;
}
/* --------------------------------

Media Queries

-------------------------------- */

@media (min-width: 768px) and (max-width: 991px) {
	.btn-menu {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 767px) {
	.btn-menu {
		width: 100%;
		margin: 0.5em 0;
	}
}

@media (max-width: 480px) {
	.btn-action {
		padding-left: 10px;
		padding-right: 10px;
	}
	.btn-block {
		font-size: 16px;
	}
	.menu {
		padding: 30px 0 20px;
	}
}
